{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<div class="uk-container">
  <div class="uk-border-rounded-large uk-background-top-center uk-background-cover 
    uk-background-norepeat uk-light uk-inline uk-overflow-hidden uk-width-1-1"
    style="background-image: url(https://article.images.consumerreports.org/f_auto/prod/content/dam/CRO-Images-2020/Health/03Mar/CR-Health-Inlinehero%20coronavirus%20and%20food%200320);">
    <div class="uk-position-cover uk-header-overlay"></div>
    <div class="uk-position-relative" data-uk-grid>
      <div class="uk-width-1-2@m uk-flex uk-flex-middle">
        <div class="uk-padding-large uk-padding-remove-right">
          <h1 class="uk-heading-small uk-margin-remove-top">Choose from thousands of recipes</h1>
          <p class="uk-text-secondary">Appropriately integrate technically sound value with scalable infomediaries
            negotiate sustainable strategic theme areas</p>
          <a class="uk-text-secondary uk-text-600 uk-text-small hvr-forward" href="sign-up.html">Sign up today<span
              class="uk-margin-small-left" data-uk-icon="arrow-right"></span></a>
        </div>
      </div>
      <div class="uk-width-expand@m">
      </div>
    </div>
  </div>
</div>

<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div data-uk-grid>
      <div class="uk-width-1-4@m sticky-container">
        <div data-uk-sticky="offset: 100; bottom: true; media: @m;">
          <h2>Recipes</h2>
          <ul class="uk-nav-default uk-nav-parent-icon uk-nav-filter uk-margin-medium-top" data-uk-nav>
            <li class="uk-parent">
              <a href="#">Dish Type</a>
              <ul class="uk-nav-sub">
                {% for tag in tags %}
                <li><a href="/{{tag.tag}}/1/">{{tag.tag}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="uk-parent">
              <a href="#">Meal Type</a>
              <ul class="uk-nav-sub">
                <li><a href="/mealtypes/main course">main course</a></li>
                <li><a href="/mealtypes/dessert">dessert</a></li>
                <li><a href="/mealtypes/appetizer">appetizer</a></li>
                <li><a href="/mealtypes/salad">salad</a></li>
                <li><a href="/mealtypes/beverage">beverage</a></li>
                <li><a href="/mealtypes/soup">soup</a></li>
                <li><a href="/mealtypes/snack">snack</a></li>
                <li><a href="/mealtypes/sauce">sauce</a></li>
                <li><a href="/mealtypes/marinade">marinade</a></li>
                <li><a href="/mealtypes/fingerfood">fingerfood</a></li>
                <li><a href="/mealtypes/drink">drink</a></li>
              </ul>
            </li>
            <li class="uk-parent">
              <a href="#">Diet and Health</a>
              <ul class="uk-nav-sub">
                {% for diettyp in dietypes %}
                <li><a href="/diettype/{{diettyp.diettype}}/1">{{diettyp.diettype}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="uk-parent">
              <a href="#">World Cuisine</a>
              <ul class="uk-nav-sub">
                {% for cuisin in cuisine %}
                <li><a href="/cuisine/{{cuisin.cuisine}}">{{cuisin.cuisine}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="uk-width-expand@m">
        <div data-uk-grid>
          <div class="uk-width-expand@m">
            <form class="uk-search uk-search-default uk-width-1-1" method="POST" action="{% url 'search' %}">
              {% csrf_token %}
              <span data-uk-search-icon></span>
              <input class="uk-search-input uk-text-small uk-border-rounded uk-form-large" type="search"
                placeholder="Search for recipes throughout the internet" name="query">
            </form>
          </div>
         
        </div>
        <h1>{{var_title}}</h1>
        <br>
        <div class="uk-child-width-1-2 uk-child-width-1-3@s" data-uk-grid>
          <div>
            {% for obj in all_recipes %}
            <div class="uk-card">
              <div class="uk-card-media-top uk-inline uk-light">
                <img class="uk-border-rounded-medium" src="{{obj.image_url}}" alt="{{obj.title}}">
                <div class="uk-position-cover uk-card-overlay uk-border-rounded-medium"></div>
              </div>
              <div>
                <h3 class="uk-card-title uk-text-500 uk-margin-small-bottom uk-margin-top">{{obj.title}}</h3>
                <div class="uk-text-xsmall uk-text-muted" data-uk-grid>
                  <div class="uk-width-expand uk-text-right">by {{obj.by}}</div>
                </div>
              </div>
              <a href="/dish/{{obj.slug}}" class="uk-position-cover"></a>
            </div>
          </div>
          <div>
          {% endfor %}
      </div>
      <div class="uk-margin-large-top uk-text-small">
        <ul class="uk-pagination uk-flex-center uk-text-500 uk-margin-remove" data-uk-margin>
          <li><a href="/{{prev}}"><span data-uk-pagination-previous>Previous&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;</a></li>
          <li><a href="/{{next}}"><span data-uk-pagination-next></span>&nbsp;&nbsp;&nbsp;Next</a></li>
        </ul>
        <br><br><br>
      </div>
    </div>
  </div>
</div>


<div style="text-align: center;">
  <h1>Articles</h1>
</div>

<div style="text-align: center;">
  <div class="uk-child-width-1-2 uk-child-width-1-4@s" data-uk-grid>
  {% for rnd_blg in rand_blog %}
  <div>
    <div class="uk-card uk-card-video">
      <div class="uk-inline uk-light">
        <img class="uk-border-rounded-large" src="{{rnd_blg.img}}" alt="{{rnd_blg.title}}" style="width: 300; height: 400;">
        <div class="uk-position-cover uk-card-overlay uk-border-rounded-large"></div>
        <div class="uk-position-small uk-position-bottom-left">
          <h5 class="uk-margin-small-bottom">{{rnd_blg.title}}</h5>
          <div class="uk-text-xsmall">by {{rnd_blg.author}}</div>
        </div>
      </div>
      <a href="/blog/{{rnd_blg.slug}}/" class="uk-position-cover"></a>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

<br><br>

<div class="uk-container">
  <div class="uk-background-primary uk-border-rounded-large uk-light">
    <div class="uk-width-3-4@m uk-margin-auto uk-padding-large">
      <div class="uk-text-center">
        <h2 class="uk-h2 uk-margin-remove">Be the first to know about the latest deals, receive new trending recipes
          &amp; more!</h2>
      </div>
      <div class="uk-margin-medium-top">
        <div data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
          <form>
            <div class="uk-grid-small" data-uk-grid>
              <div class="uk-width-1-1 uk-width-expand@s uk-first-column">
                <input type="email" placeholder="Email Address"
                  class="uk-input uk-form-large uk-width-1-1 uk-border-pill">
              </div>
              <div class="uk-width-1-1 uk-width-auto@s">
                <input type="submit" value="Subscribe" class="uk-button uk-button-large uk-button-warning">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body%}

{% block footer %} {% endblock footer%}