{% extends 'base.html' %}

{% block meta_desc %}
{{recipe.descreption | striptags | safe}}
{% endblock meta_desc %}

{% block meta_title %}
{{recipe.title | safe}}
{% endblock meta_title %}

{% block meta_kw %}
{% for tag in recipe.tags.all %}
{{tag}},
{% endfor %}
{% endblock meta_kw %}

{% block title %} Home {% endblock title %}

{% block sdata %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Recipe",
    "name": "{{recipe.title}}",
    "image": [
        "{{recipe.image_url}}"
    ],
    "author": {
        "@type": "Person",
        "name": "{{recipe.by}}"
    },
    "datePublished": "2018-03-10",
    "description": "{{recipe.descreption | striptags | safe}}",          
    "prepTime": "PT20M",
    "cookTime": "PT30M",
    "totalTime": "PT{{recipe.cooking_time}}M",
    "recipeYield": "{{recipe.yields}}",
    "recipeCategory": "Dessert",
    "recipeCuisine": "{{recipe.cuisine}}",
    "keywords": "{% for tag in recipe.tags.all %}{{tag.tag}},{% endfor %}",
    "nutrition": {
        "@type": "NutritionInformation",
        "calories": "{{recipe.cal}}"
    },
    "recipeIngredient": [
      {% for ingredient in recipe.ingredients.all %}
        "{{ingredient.ingredient}}",
      {% endfor %}
       ],
    "recipeInstructions": [
    {% for step in recipe.instructions.all %}
          {
          "@type": "HowToStep",
          "text": "{{step.step}}"
          },
    {% endfor %}
      ],
    "video": [
        {
        "@type": "VideoObject", 
        "name": "How to make a Party Coffee Cake",
        "description": "This is how you make a Party Coffee Cake.",
        "thumbnailUrl": [
          "https://example.com/photos/1x1/photo.jpg",
          "https://example.com/photos/4x3/photo.jpg",
          "https://example.com/photos/16x9/photo.jpg"
         ],
        "contentUrl": "http://www.example.com/video123.flv",
        "embedUrl": "http://www.example.com/videoplayer.swf?video=123",
        "uploadDate": "2018-02-05T08:00:00+08:00",
        "duration": "PT1M33S",
        "interactionStatistic": {
          "@type": "InteractionCounter",
          "interactionType": { "@type": "http://schema.org/WatchAction" },
          "userInteractionCount": 2347
        },
        "expires": "2019-02-05T08:00:00+08:00"
       }
      ],
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "ratingCount": "18"
        },
    "review": {
        "@type": "Review",
        "reviewRating": {
            "@type": "Rating",
            "ratingValue": "4",
            "bestRating": "5"
        },
        "author": {
            "@type": "Person",
            "name": "{{recipe.by}}"
        },
        "datePublished": "2018-05-01",
        "reviewBody": "This cake is delicious!",
        "publisher": "The cake makery"
        }
     }
</script>
{% endblock sdata %}

{% block body %}

<div class="uk-container">
  <div data-uk-grid>
    <div class="uk-width-1-2@s">
      <div><img class="uk-border-rounded-large" src="{{recipe.image_url}}" 
        alt="{{recipe.title}}"></div>
    </div>
    <div class="uk-width-expand@s uk-flex uk-flex-middle">
      <div>
        <h1>{{recipe.title}}</h1>
        <p>{{recipe.descreption | striptags | safe}}</p>
        <div class="uk-margin-medium-top uk-child-width-expand uk-text-center uk-grid-divider" data-uk-grid>
          <div>
            <span data-uk-icon="icon: clock; ratio: 1.4"></span>
            <h5 class="uk-text-500 uk-margin-small-top uk-margin-remove-bottom">Total Time</h5>
            <span class="uk-text-small">{{recipe.cooking_time}} mins</span>
          </div>
          <div>
            <span data-uk-icon="icon: future; ratio: 1.4"></span>
            <h5 class="uk-text-500 uk-margin-small-top uk-margin-remove-bottom">Calories</h5>
            <span class="uk-text-small">{{recipe.cal}}</span>
          </div>
          <div>
            <span data-uk-icon="icon: users; ratio: 1.4"></span>
            <h5 class="uk-text-500 uk-margin-small-top uk-margin-remove-bottom">Yield</h5>
            <span class="uk-text-small">{{recipe.yields}}</span>
          </div>
        </div>
        <hr>
        <div data-uk-grid>
          <div class="uk-width-auto@s uk-text-small">
            <p class="uk-margin-small-top uk-margin-remove-bottom">Created by <a href="#">{{recipe.by}}</a></p>
          </div>
          <div class="uk-width-expand@s uk-flex uk-flex-middle uk-flex-right@s">
            <a href="#" class="uk-icon-link" data-uk-icon="icon: plus-circle; ratio: 1.2" 
             data-uk-tooltip="title: Save Recipe"></a>
            <a href="#" class="uk-icon-link uk-margin-left" data-uk-icon="icon: cart; ratio: 1.2" 
             data-uk-tooltip="title: Shopping List"></a>

            <form action="{% url 'pdfgen' %}" method="POST">
              {% csrf_token %}
              <input type="text" name="title" value="{{recipe.title}}" style="display: none;">
              <button style="background-color: transparent; outline: none; border: none;"><a href="#" class="uk-icon-link uk-margin-left" data-uk-icon="icon: print; ratio: 1.2" 
                data-uk-tooltip="title: Print Recipe"></a></button>
            </form>
            


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section uk-section-default">
  <div class="uk-container uk-container-small">
    <div class="uk-grid-large" data-uk-grid>
      <div class="uk-width-expand@m">
        <div class="uk-article">
          <h3>How to Make It</h3>
          {% for step in recipe.instructions.all %}
          <div id="step-1" class="uk-grid-small uk-margin-medium-top" data-uk-grid>
            <div class="uk-width-auto">
              <a href="#" class="uk-step-icon" data-uk-icon="icon: check; ratio: 0.8" 
                data-uk-toggle="target: #step-1; cls: uk-step-active"></a>
            </div>
            <div class="uk-width-expand">
              <h5 class="uk-step-title uk-text-500 uk-text-uppercase uk-text-primary" data-uk-leader="fill:—">Step</h5>
              <div class="uk-step-content">{{step.step}}</div>
            </div>
          </div>
          {% endfor %}
          <hr class="uk-margin-medium-top uk-margin-large-bottom">
          
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <h3>Ingredients</h3>
        <ul class="uk-list uk-list-large uk-list-divider uk-margin-medium-top">
          {% for ingredient in recipe.ingredients.all %}
          <li>{{ingredient}}</li>
          {% endfor %}
        </ul>
        <h3 class="uk-margin-large-top">Tags</h3>
        <div class="uk-margin-medium-top" data-uk-margin>
          {% for tag in recipe.tags.all %}
          <a class="uk-display-inline-block" href="#"><span class="uk-label uk-label-light">{{tag}}</span></a>
          {% endfor %}         
        </div>
        
      </div>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <h2>Videos of {{recipe.title}} might excite you</h2>
</div>

<div style="text-align: center;">
  {% for i in  links %}
  <div style="display: inline-block; margin: 0px 30px 10px 30px;">
    <iframe width="400" height="300" src="{{i}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  {% endfor %}
</div>
  
    
<br>
<br>   
        


<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <h3>Other Recipes You May Like</h3>
    <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-margin-medium-top" data-uk-grid>
      {% for recipe in recommended %}
      <div>
        <div class="uk-card">
          <div class="uk-card-media-top uk-inline uk-light">
            <img class="uk-border-rounded-medium" src="{{recipe.image_url}}" alt="Course Title">
            <div class="uk-position-cover uk-card-overlay uk-border-rounded-medium"></div>
          </div>
          <div>
            <h3 class="uk-card-title uk-text-500 uk-margin-small-bottom uk-margin-top">{{recipe.title}}</h3>
            <div class="uk-text-xsmall uk-text-muted" data-uk-grid>
              <div class="uk-width-expand uk-text-right">by {{recipe.by}}</div>
            </div>
          </div>
          <a href="/dish/{{recipe.slug}}" class="uk-position-cover"></a>
        </div>
      </div>
      {% endfor %}
      <div>
        
      </div>
      
    </div>
  </div>
</div>

{% endblock body %}

{% block footer %} {% endblock footer%}